<div id="map" style="z-index:1; position:relative"></div>
<button #overview (click)="restoreOverview()" style="position: absolute; right: 10px;top: 150px;z-index: 2; visibility: hidden;">Back to Overview</button>
<button #points (click)="showLocations()" style="position: absolute; right: 10px;top: 200px;z-index: 2; visibility: hidden;">Show unit locations</button>
<button (click)="restoreOverview()" style="position: absolute; left: 10px;top: 200px;z-index: 2;">Show all camps</button>
<button (click)="flyer()" style="position: absolute; left: 10px;top: 240px;z-index: 2;">Focus on Kutupalong Camp</button>
<button (click)="flyerCenter()" style="position: absolute; left: 10px;top: 270px;z-index: 2;">Focus on Center Camps</button>
<button (click)="flyerSouth()" style="position: absolute; left: 10px;top: 300px;z-index: 2;">Focus on Southern Camp</button>
<form #pointEntry style="position: absolute; right: 10px;bottom: 20px;z-index: 2;visibility: hidden; background-color: floralwhite;">
<mat-form-field>
  <mat-label>Latitude</mat-label>
  <input
    matInput
    type="number"
    placeholder="Latitude"
    min="-90"
    max="90"
    step="0.001"
    formControlName="latitude"
  />
</mat-form-field>
<mat-form-field>
  <mat-label>Longitude</mat-label>
  <input
    matInput
    type="number"
    placeholder="Longitude"
    min="-90"
    max="90"
    step="0.001"
    formControlName="longitude"
  />
</mat-form-field>
<mat-form-field>
    <mat-label>Amenity</mat-label>
    <input
      matInput
      type="string"
      placeholder="Amenity"
      formControlName="amenity"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sanitation Score</mat-label>
    <input
      matInput
      type="string"
      placeholder="Sanitation Score"
      formControlName="sanitationScore"
    />
  </mat-form-field>

<button class="button" type="submit" mat-stroked-button style="bottom: 5px;">Add Marker</button>
</form>






