<div id="settings-panel">
  <form
    id="location-form"
    [formGroup]="this.locationForm"
    (ngSubmit)="onSubmit(this.locationForm.value)"
  >
    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input
        matInput
        type="number"
        placeholder="Latitude"
        min="-90"
        max="90"
        step="0.001"
        formControlName="latitude"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input
        matInput
        type="number"
        placeholder="Longitude"
        min="-90"
        max="90"
        step="0.001"
        formControlName="longitude"
      />
    </mat-form-field>
    <button class="button" type="submit" mat-stroked-button>Add Marker</button>
  </form>

<!--  <form
    id="location-form"
    [formGroup]="this.amenityForm"
    (ngSubmit)="onAmSubmit(this.amenityForm.value)"
  >
    <mat-form-field>
      <mat-label>Amenity</mat-label>
      <input
        matInput
        type="string"
        placeholder="Amenity"
        formControlName="amenity"
      />
    </mat-form-field>
    <button class="button" type="submit" mat-stroked-button>Add Amenity</button>
  </form> -->
  <form
    id="admin-form"
    [formGroup]="this.adminForm"
    (change)="onAdSubmit(this.adminForm.value)"
  >
    <mat-form-field appearance="fill">
      <mat-label>Administrative Level</mat-label>
      <select matNativeControl required formControlName=adminLevel>
        <option value="site">Site</option>
        <option value="camp">Camp</option>
        <option value="block">Block</option>
        <option value="subblock">Sub-Block</option>
      </select>
    </mat-form-field>
  </form>

<!--  <div class="pubs">
    <button class="button" (click)="addPubs()" mat-stroked-button>Add Camp Locations</button>
  </div>
</div> -->
