<div id="settings-panel">

  <!--
  <form
    id="location-form"
    [formGroup]="this.locationForm"
    (ngSubmit)="onSubmit(this.locationForm.value)"
  >
    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input
        matInput
        type="number"
        placeholder="Latitude"
        min="-90"
        max="90"
        step="0.001"
        formControlName="latitude"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input
        matInput
        type="number"
        placeholder="Longitude"
        min="-90"
        max="90"
        step="0.001"
        formControlName="longitude"
      />
    </mat-form-field>
    <button class="button" type="submit" mat-stroked-button>Add Marker</button>
  </form> -->

<!--  <form
    id="location-form"
    [formGroup]="this.amenityForm"
    (ngSubmit)="onAmSubmit(this.amenityForm.value)"
  >
    <mat-form-field>
      <mat-label>Amenity</mat-label>
      <input
        matInput
        type="string"
        placeholder="Amenity"
        formControlName="amenity"
      />
    </mat-form-field>
    <button class="button" type="submit" mat-stroked-button>Add Amenity</button>
  </form> -->
  <form
    id="admin-form"
    [formGroup]="this.adminForm"
    (change)="onAdSubmit(this.adminForm.value)"
  >
    <mat-form-field appearance="fill">
      <mat-label>Administrative Level</mat-label>
      <select matNativeControl required formControlName=adminLevel>
        <option value="site">Site</option>
        <option value="camp">Camp</option>
        <option value="block">Block</option>
        <option value="sblock">Sub-Block</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Operation</mat-label>
      <select matNativeControl required formControlName=calculation>
        <option value="n_">count</option>
        <option value="dist_">distance to</option>
        <option value="pop_per">persons per</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill" width.px="500">
      <mat-label>Unit of interest</mat-label>
      <select matNativeControl required formControlName=unitInterest>
        <option value="pop_female">Count Female Individuals</option>
        <option value="population">Count Individuals</option>
        <option value="pop_endangered_flooding">Count Individuals endangered by flooding</option>
        <option value="pop_perbuild">Average Count Individuals per Building</option>
        <option value="tube">Tubewells</option>
        <option value="tube_risk">Count contaminated Tubewells</option>
        <option value="pop_endangered_tubewell">Count Individuals endangered by contaminated Tubewells</option>
        <option value="latr">Latrines</option>
        <option value="bath">Bathing facilities</option>
        <option value="nutr">Nutrition facilities</option>
        <option value="wpro">Women protection areas</option>
        <option value="heal">Health Facilities</option>
      </select>
    </mat-form-field>



    
  

    
  </form>

  

 



  <form
    id="healthsite-form"
    [formGroup]="this.healthsiteForm"
    (change)="onHtSubmit(this.healthsiteForm.value)"
  >
    <mat-form-field appearance="fill">
      <mat-label>Health Locations</mat-label>
      <select matNativeControl required formControlName=healthLocation>
        <option value="DTC">DTC</option>
        <option value="Health Post Fixed">Health Post Fixed</option>
        <option value="Health Post Mobile">Health Post Mobile</option>
        <option value="Hospital">Hospital</option>
        <option value="PHC">PHC</option>
        <option value="Community Clinic">Community Clinic</option>
        <option value="SRH clinic">SRH Clinic</option>
        <option value="Other specialised services">Other specialised services</option>
        <option value="none">None</option>
      </select>
    </mat-form-field>

  </form>

 
</div>
