#settings-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

#location-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

#location-form > *:not(:first-child),
.pubs > *:not(:first-child) {
  margin-left: 25px;
}

.pubs {
  margin-left: auto;
  margin-right: 25px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
